In [8]:
import sys
! {sys.executable} -m pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in c:\users\igenchev\anaconda3\lib\site-packages (from ucimlrepo) (2.1.4)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\igenchev\anaconda3\lib\site-packages (from ucimlrepo) (2024.2.2)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\igenchev\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\igenchev\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\igenchev\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\igenchev\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\igenchev\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [10]:
import pandas as pd
from ucimlrepo import fetch_ucirepo

In [3]:
titanic_ds = pd.read_csv('https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_original.csv')

In [5]:
titanic_ds.describe().T

,count,mean,std,min,25%,50%,75%,max
pclass,1309.0,2.294882,0.837836,1.0000,2.0000,3.0000,3.000,3.0000
survived,1309.0,0.381971,0.486055,0.0000,0.0000,0.0000,1.000,1.0000
age,1046.0,29.881135,14.413500,0.1667,21.0000,28.0000,39.000,80.0000
sibsp,1309.0,0.498854,1.041658,0.0000,0.0000,0.0000,1.000,8.0000
parch,1309.0,0.385027,0.865560,0.0000,0.0000,0.0000,0.000,9.0000
fare,1308.0,33.295479,51.758668,0.0000,7.8958,14.4542,31.275,512.3292
body,121.0,160.809917,97.696922,1.0000,72.0000,155.0000,256.000,328.0000

In [6]:
titanic_ds.isna().sum()

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

In [11]:
iris = fetch_ucirepo(id=53)

In [24]:
iris.data['targets']['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [32]:
iris_original = iris.data.original
# iris_original.loc[(iris_original["sepal length"] >= 4.5) & (iris_original["sepal length"] <= 10)]["petal length"].mean()
iris_original.loc[(iris_original["sepal length"] >= 4.5) & (iris_original["sepal length"] <= 10), "petal length"].mean()

3.826712328767123

In [36]:
red_wine = pd.read_csv('data/winequality-red.csv', sep=";")
white_wine = pd.read_csv('data/winequality-white.csv', sep=";")

In [40]:
print(f'red wine quality {red_wine.quality.mean()}')
print(f'white wine quality {white_wine.quality.mean()}')

red wine quality 5.6360225140712945
white wine quality 5.87790935075541

In [42]:
red_wine.alcohol.corr(red_wine.quality)

0.4761663240011359

In [43]:
white_wine.alcohol.corr(red_wine.quality)

-0.019848604108204132